@{
    ViewBag.Title = "权限管理 | NextCMS Admin";
}

<div class="fluid">
    <div class="row">
        <div class="col-md-4">
            <div class="table-toolbar">
                <div class="btn-group">
                    <a href="javascript:void(0);" class="btn blue" onclick="Create('@Url.Action("Create")')"><i class="fa fa-plus"></i> 添加</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="table-responsive">
    <table class="table datatable table-striped table-bordered table-hover">
        <thead>
            <tr>
                <th width="80">
                    序号
                </th>
                <th>
                    权限(按钮)名称
                </th>
                <th>
                    编码
                </th>
                <th>
                    图标
                </th>
                <th>
                    排序
                </th>
                <th>
                    描述
                </th>
                <th>
                    启用
                </th>
                <th>
                    操作
                </th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>

@Html.Partial("Modal")

@section scripts{
    <script>
        var oTable = null;

        $(function() {
            var actionUrl = "@Url.Action("InitDataTable")?rand=" + Math.random();
            var aoColumns = [
                { "sName": "sort" },
                { "sName": "name" },
                { "sName": "code" },
                { "sName": "icon" },
                { "sName": "ordersort" },
                { "sName": "description" },
                {
                    "sName": "enabled",
                    "fnRender": function (oObj) {
                        var render;
                        var t = oObj.aData[oObj.aData.length-2];
                        if (t === "1") {
                            render = '启用';
                        } else {
                            render = '禁用';
                        }

                        return render;
                    }
                },
                {
                    "sName": "action",
                    "fnRender": function(oObj) {
                        var editUrl = '@Url.Action("Edit")';
                        var deleteUrl = '@Url.Action("Delete")';
                        return TableManaged.btnEdit(editUrl, oObj.aData[oObj.aData.length - 1]) + ' ' + TableManaged.btnDelete(deleteUrl, oObj.aData[oObj.aData.length - 1]);
                    }
                }
            ];

            oTable = TableManaged.init($(".datatable"), actionUrl, aoColumns);
        });

        //新增
        function Create(actionUrl) {
            ShowModal(actionUrl, {}, "新增权限");
        }

        //编辑
        function Edit(actionUrl, id) {
            var param = { id: id };
            ShowModal(actionUrl, param, "编辑权限");
        }

        //保存
        function Save() {
            SaveModal(oTable);
        }
    </script>
}


