@model ASBicycle.Web.Models.School.SchoolModel
@{
    ViewBag.Title = "校园信息";
}

<h3 class="page-title-recover">
    <span>校园信息</span> <small></small>
</h3>

<div class="portlet box">
    <div class="portlet-body form">
        <form class="form-horizontal" id="tenancytable">
            @Html.ValidationSummary(false)
            <div class="form-body">
                <div class="tabbable tabbable-custom tabbable-full-width">
                    <ul class="nav nav-tabs">
                        <li class="active">
                            <a href="#tab_1" data-toggle="tab">基本信息</a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active" id="tab_1">
                            <div class="form-body">
                                @Html.HiddenFor(model => model.Id)
                                @Html.HiddenFor(model => model.TenancyName)
                                <div class="form-group">
                                    <label class="control-label col-md-3">租户名称</label>
                                    <div class="col-md-6">
                                        <span class="form-control">@Model.TenancyName</span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-3">学校名称</label>
                                    <div class="col-md-6">
                                        @Html.TextBoxFor(t => t.Name, new {@class = "form-control"})
                                        <span class="help-block">
                                            @Html.ValidationMessageFor(t => t.Name)
                                        </span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-3">区号</label>
                                    <div class="col-md-6">
                                        @Html.TextBoxFor(t => t.Areacode, new {@class = "form-control"})
                                        <span class="help-block">
                                            @Html.ValidationMessageFor(t => t.Areacode)
                                        </span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-3">GPS</label>
                                    <div class="col-md-6">
                                        @Html.TextBoxFor(t => t.Gps_point, new {@class = "form-control"})
                                        <span class="help-block">
                                            @Html.ValidationMessageFor(t => t.Gps_point)
                                        </span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-3">停车港数量</label>
                                    <div class="col-md-6">
                                        @Html.TextBoxFor(t => t.Site_count, new {@class = "form-control"})
                                        <span class="help-block">
                                            @Html.ValidationMessageFor(t => t.Site_count)
                                        </span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-3">自行车数量</label>
                                    <div class="col-md-6">
                                        @Html.TextBoxFor(t => t.Bike_count, new {@class = "form-control"})
                                        <span class="help-block">
                                            @Html.ValidationMessageFor(t => t.Bike_count)
                                        </span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-3">自行车单价</label>
                                    <div class="col-md-6">
                                        @Html.TextBoxFor(t => t.Time_charge, new {@class = "form-control"})
                                        <span class="help-block">
                                            @Html.ValidationMessageFor(t => t.Time_charge)
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-actions fluid">
                <div class="col-md-offset-2 col-md-9">
                    <input type="button" name="save" class="btn blue" value="保存" onclick="Save();"/>
                </div>
            </div>
        </form>
    </div>
</div>

@section scripts{
    <script>
        //保存
        function Save() {
            var actionUrl = '@Url.Action("Edit","School")';
            var $form = $("#tenancytable");

            if (!$form.valid()) {
                return;
            }

            $.ajax({
                type: "POST",
                url: actionUrl,
                data: $form.serialize(),
                success: function (result) {
                    //判断返回值，若为Object类型，即操作成功
                    //var result = ((typeof data == 'object') && (data.constructor == Object));
                    if (result != null) {
                        alert("修改成功");
                    }
                    else {
                        alert("修改失败");
                    }
                }
            });
        }
    </script>
}